@media (max-width: 400px) {
  body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    background-image: url("https://thumbs.dreamstime.com/b/vowels-e-i-o-u-background-white-colored-clay-165713367.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .heading {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 35px;
    text-shadow: 3px 2px 5px red;
  }
  .container {
    border: 2px solid red;
    width: 300px;
    height: 70vh;
    padding: 25px;
    box-shadow: 3px 3px 16px rgb(102, 96, 96);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 40px;
  }
  #input {
    font-size: 11px;
    width: 50vw;
    padding: 8px;
    border: none;
  }
  #btn {
    padding: 5px;
  }
  .one {
    font-size: 20px;
  }
}
@media(min-width:401px) and (max-width:600px){
  .container {
    border: 2px solid red;
    width: 400px;
    height: 70vh;
    padding: 20px;
    box-shadow: 3px 3px 16px rgb(102, 96, 96);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 40px;
  }
}